body{
	background-color:lightcyan;
}
h1{
	color: blueviolet;
}
p{
	color:greenyellow;
}

h1 {
	color: cornflowerblue;
	text-align: center;
}
h1 {
	background-color:aqua;
	color:cornflowerblue;
}
h1 {
	text-align: center
}
a {
	text-decoration: none
}
p {
	line-height: 10
}
p {
	font-family: "Times New Roman", Times,serif;
}
#firstp {
	color: gold ;
	line-height: 10
}
#secondp {
	color: gold ;
	line-height: 10
}
.blue {
	color: blue;
}
.red {
	color: indianred
}
